<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="UTF-8">
    <title>She STEMs</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  
  <body>
    <!--Titlepage -->
    <header class="links">
              <h1 id="title">She STEMs</h1>
              <a href="index">Home</a>
              <a href="about">About</a>
    </header>
     
<!--If you press the subject you want, in the circle button, it will bring you to the main page of the subject.-->
    <!--<nav>-->
    <!--  <ul>-->
    <!--    <li><a href="mainscience.erb">Science</a></li>-->
    <!--    <li><a href="maintech.erb">Technology</a></li>-->
    <!--    <li><a href="mainengineer.erb">Engineering</a></li>-->
    <!--    <li><a href="mainmath.erb">Math</a></li>-->
    <!--  </ul>-->
    <!--</nav>-->
    <h3>Hello world</h3>
    <div id="blue">
    <h2><%=@theresult%></h2>
    <!--<h2><%@middlenorcaltech%></h2>-->
    </div>
  </body>
  
</html>
