<html>
    
    <body>
        <h1>Opportunities that apply to you:</h1>
    <h4>Kode With Klossy</h4>
    <!--Picture with Link-->
    <a href= "https://www.kodewithklossy.com/"><img src="http://ic.pics.livejournal.com/calcified/3315033/45061/45061_600.jpg"></a>
    
<p>This two week camp over the summer allows girls ages 13 to 18 to learn how to code and build your own apps through a fun and collaborative enviorment! You don't neeed any prior knowledge on code! </p>

    <h4>Girls Make Games</h4>
    <a href= "http://girlsmakegames.com/program.html"><img src="http://girlsmakegames.com/images/gmg_logo_full.png"></a>
    <h6>A 3 week camp taking place over the duration of the summer.With it's demo day in San Mateo.  </h6>
<p>Girls Make Games is a series of international summer camps, workshops and game jams designed to inspire the next generation of designers, creators, and engineers.</p>

    <h4>Alexa Cafe</h4>
    
    <a href= "https://www.idtech.com/alexa-cafe/"><img src="https://media.idtech.com/uploads/2015/04/Alexa_Cafe_Film.png"></a>
<p>
    An all girls tech camp taking place over the summer for girls ages 10 to 15. It combines tech, entrepreneurship, and social activism to empower women in STEM. 
</p>


<!--<h4></h4>-->
<!--  <a href=""></a>-->
<!--<a href=""><img src=""></a>-->
<!--<p></p>-->

<!--<h4></h4>-->
<!--  <a href=""></a>-->
<!--<a href=""><img src=""></a>-->
<!--<p></p>-->

<!--<h4></h4>-->
<!--  <a href=""></a>-->
<!--<a href=""><img src=""></a>-->
<!--<p></p>-->

<!--<h4></h4>-->
<!--  <a href=""></a>-->
<!--<a href=""><img src=""></a>-->
<!--<p></p>-->

<!--<h4></h4>-->
<!--  <a href=""></a>-->
<!--<a href=""><img src=""></a>-->
<!--<p></p>-->

<!--<h4></h4>-->
<!--  <a href=""></a>-->
<!--<a href=""><img src=""></a>-->
<!--<p></p>-->

<!--    <nav>-->
<!--      <ul>-->
<!--           <li><a href="index.erb">Home</a></li>-->
<!--      </ul>-->
<!--    </nav>-->